body {
  box-sizing: border-box;
  width: 100vw; }

.navbar {
  width: 100%;
  position: fixed;
  z-index: 2;
  background-color: #feff39 !important; }
  .navbar .navbar-brand {
    color: #fe71a6;
    text-shadow: 1px 0px 0.5px #969cc7; }
  .navbar .nav-link {
    color: #969cc7 !important; }

.nav-img {
  height: 100vh;
  width: 100%;
  z-index: 2; }

.masthead {
  width: 100%;
  height: 50vh;
  padding-top: 10px;
  background-image: url(../img/mancini.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  .masthead .masthead-text {
    padding: 37vh 5vw 1vh 50vw;
    color: #fee468;
    text-align: center;
    text-shadow: 0px 1px 3px #969cc7; }

.footer {
  width: 100%;
  padding: 1vh 3vw;
  background-color: #feff39; }
  .footer ul {
    list-style: none;
    font-size: .9em; }
  .footer .brand {
    margin-bottom: 3px;
    font-size: 1.2em;
    color: #fe71a6;
    text-shadow: 1px 0px 0.5px #969cc7; }

.containers {
  padding: 3vh 3vw;
  background-color: #ffb1bfa1; }

.card-div {
  min-height: 50vh;
  width: 100%;
  border: 1px solid black;
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: space-between; }

.fields {
  display: flex;
  flex-grow: 1;
  width: 100%;
  height: 33%;
  border: 1px solid green; }

.field-image img {
  height: 100%;
  width: 30%;
  object-fit: cover; }

.field2 .field-image {
  align-self: flex-end; }

.field-text {
  flex-grow: 1;
  width: 70%; }

@keyframes rollercoaster1 {
  from {
    background-position: 50% 0; }
  to {
    background-position: 50% 100%; } }
@keyframes rollercoaster2 {
  from {
    background-position: 0 0; }
  to {
    background-position: 1000% 0; } }
@keyframes tumbleweed {
  0% {
    transform: translateX(400px); }
  100% {
    transform: translateX(-1400px); } }
@keyframes horse {
  0% {
    transform: translateX(-400px); }
  100% {
    transform: translateX(1400px); } }
.container-1, .containers {
  overflow: auto; }

.gallery {
  overflow: hidden; }

.pic {
  height: 200px;
  width: 30%;
  border: 1px solid black; }

.pic1 {
  background-image: url(../img/rollerc1.jpg);
  flex-grow: 1;
  width: 115px; }
  .pic1:hover {
    animation: rollercoaster1 15s linear infinite; }

.pic2 {
  background-image: url(../img/rollerc1.jpg);
  background-size: contain;
  background-repeat: repeat-x;
  flex-grow: 3;
  width: 115px; }
  .pic2:hover {
    animation: rollercoaster2 10s linear infinite; }

.pic3 {
  background-color: #969cc7;
  flex-grow: 1;
  width: 115px;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  transition: background-color 1.5s ease; }
  .pic3 img {
    height: 0px;
    width: 100px;
    position: relative;
    bottom: 0%;
    transition: height 1.3s ease; }
  .pic3:hover {
    background-color: #ffb1bf; }
    .pic3:hover img {
      height: 100px; }

.pic4 {
  background-image: url(../img/noble.png);
  background-size: cover;
  flex-grow: 1;
  overflow: hidden;
  z-index: 1; }

.pic4-filter {
  background: linear-gradient(to bottom, #ffc57842 0%, #fb9d23e0 100%);
  z-index: 2;
  opacity: .5;
  height: 100%;
  width: 100%;
  transition: opacity 3s ease;
  display: flex;
  align-items: flex-end; }
  .pic4-filter img {
    display: none;
    z-index: 1;
    opacity: .8; }
  .pic4-filter:hover {
    opacity: 1; }
    .pic4-filter:hover img {
      display: block;
      animation: tumbleweed 15s linear infinite; }

.tumbleweed {
  height: 60px;
  margin-bottom: 20px; }

.pic5 {
  width: 10%;
  background-image: url(../img/rollerc1.jpg);
  background-size: cover;
  background-position: top;
  transition: background-image 1.5s ease-in;
  z-index: 2; }
  .pic5:hover {
    background-image: url(../img/rcgif.gif); }

.pic6 {
  background-image: url(../img/noble.png);
  background-size: cover;
  flex-grow: 1;
  z-index: 1; }
  .pic6 img {
    display: none; }
  .pic6:hover img {
    display: block;
    animation: horse 10s linear infinite; }

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

/*# sourceMappingURL=main.css.map */
