@import "base/module";
@import "abstracts/module";
@import "layout/module";

//gallery

body {
  background: linear-gradient(135deg, $pink 0%, $pink-transparent 50%, $pink-tier-two 100%);
}
.main-container {
  position: relative;
}
.walrus-div {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  background-color: #000000cc;
  padding-top: 5%;
  height: 100%;
  width: 100%;
  z-index: 6;
  animation: fade-in-image .5s;
  @media screen and (max-width: 665px){
    padding: 5%;
  }
}
.walrus-svg {
  width: 100%;
  max-height: 480px;
  max-width: 600px;
  background-color: white;
  border: 1px inset black;
  overflow: hidden;
  img {
    width: 100%;
    height: 480px;
    object-fit: cover;
    object-position: center;
  }
}
#close-button {
  max-height: 50px;
  &:hover {
    max-height: 51px;
    cursor: pointer;
  }
}
@keyframes fade-in-image {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
.parallax-div {
  width: 90%;
  margin-left: 5%;
  margin-bottom: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ffb4c1;
  box-shadow: inset 0 0 25px 15px #f3dddd3b;
}
.parallax-window {
  height: 200px;
  width: 45%;
  margin: .3%;
  border: .5px solid #ffb4c1;
}
.parallax-title {
  text-align: center;
}
.parallax-p-tag {
  text-align: center;
  font-size: 1.2em;
}
@media screen and (max-width: 900px){
  .parallax-div {
    flex-wrap: wrap;
  }
}
