@import "base/module";
@import "abstracts/module";
@import "layout/module";

@keyframes rollercoaster1 {
    from {
      background-position: 50% 0;
    }
    to {
      background-position: 50% 100%;
    }
}
@keyframes rollercoaster2 {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 1000% 0;
    }
}
@keyframes tumbleweed {
  0% {
    transform: translateX(-400px);
  }
  100% {
    transform: translateX(1400px);
  }

}


.container-1, .containers {
  overflow: auto;
}
.pic {
  height: 200px;
  width: 30%;
  border: 1px solid black;
}
.pic1 {
  background-image: url(../img/rollerc1.jpg);
  flex-grow: 1;
  width: 115px;
  &:hover {
    animation: rollercoaster1 15s linear infinite;
  }
}
.pic2 {
  background-image: url(../img/rollerc1.jpg);
  background-size: contain;
  background-repeat: repeat-x;
  flex-grow: 3;
  width: 115px;
  &:hover {
    animation: rollercoaster2 10s linear infinite;
  }
}
.pic3 {
  background-color: $blue-tier-two;
  flex-grow: 1;
  width: 115px;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  transition: background-color 1.5s ease;
  img {
    height: 0px;
    width: 100px;
    position: relative;
    bottom: 0%;
    // transition: width 1.3s ease;
    transition: height 1.3s ease;
  }
  &:hover {
    background-color: $pink-tier-two;
    img {
      height: 100px;
      // display: block;
    }
  }
}
.pic4 {
  background-image: url(../img/noble.png);
  background-size: cover;
  flex-grow: 1;
  overflow: hidden;
  }
  // transition: background-image 1s ease-in-out;
  // transition: background-position 3s ease-in;


  .pic4-filter {
    background: linear-gradient(to bottom, #ffc57842 0%,#fb9d23e0 100%);
    opacity: .5;
    height: 100%;
    width: 100%;
    transition: opacity 3s ease;
    display: flex;
    align-items: flex-end;
    // overflow: hidden;
    img {
      display: none;
    }
    &:hover {
      opacity: 1;
      img {
        display: block;
        animation: tumbleweed 12s linear infinite;
      }
    }
  }
  .tumbleweed {
    height: 60px;
    margin-bottom: 20px;
  }
.pic5 {
  width: 10%;
  background-image: url(../img/rollerc1.jpg);
  background-size: cover;
  background-position: top;
  transition: background-image 1.5s ease-in;
  &:hover {
    background-image: url(../img/rcgif.gif);
  }
}
.pic6 {
  background-image: url(../img/noble.png);
  background-size: cover;
  flex-grow: 1;
  overflow: hidden;
  img {
    display: none;
  }
  &:hover {
    img {display: block;
    animation: tumbleweed 10s linear infinite;
  }
  }
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
