.containers {
  padding: 3vh 3vw;
  font-family: 'Open Sans Condensed', sans-serif;
}
.container-1, .containers {
  overflow: auto;
}
.container-1-heading {
  text-align: center;
  margin-bottom: 5vh;
}
