@font-face {
    font-family: SomeTimeLater;
    src: url("/../fonts/SomeTimeLater.otf") format("opentype");
}
@font-face {
    font-family: komikax;
    src: url("/../fonts/KOMIKAX_.ttf");
}

.containers {
  padding: 3vh 3vw;
  font-family: 'Open Sans Condensed', sans-serif;
  h2 {
    margin-left: 1%;
  }
  h3 {
    text-align: center;
    margin: 10% 0;
    @media screen and (max-width: 767px){
      margin: 3%;
    }
  }
  h2, h3 {
    font-family: komikax;
    color: #e678a2;
    text-shadow: 0px .2px 1px #190f0f;
  }
  h1 {
    font-family: SomeTimeLater;
    color: #e678a2;
    font-size: 4.3em;
    text-shadow: 1px 1px 2px #232318;
  }
  h5 {
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 2px #9e2f59;
  }
}

.container-1, .containers {
  overflow: auto;
}
.container-1-heading {
  text-align: center;
  margin-bottom: 5vh;
}

.container2-header p {
  margin-left: 1.1%;
  font-size: 1.2em;
}
