.masthead {
  width: 100%;
  height: 50vh;
  padding-top: 10px;
  background-image: url(../img/mancini.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  .masthead-text {padding: 37vh 5vw 1vh 50vw;
    color: $yellow-tier-three;
    text-align: center;
    text-shadow: 0px 1px 3px $blue-tier-two;
  }
}
