.navbar {
  width: 100%;
  position: fixed;
  z-index: 3;
  background-color: $yellow!important;
  .navbar-brand {@include brand-text;}
  .nav-link {color: $blue-tier-two!important;}
}
.nav-img {
  height: 100vh;
  width: 100%;
  z-index: 2;
}
